name: android_sms_consent
description: Flutter plugin to perform one-tap SMS verification with the SMS User Consent API in Android.
version: 1.0.0
homepage: https://khalti.com

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.khalti.android_sms_consent
        pluginClass: AndroidSmsConsentPlugin
